@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.custom-perspective {
    transform:
        rotateX(51deg) rotateZ(-43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        28px 28px 28px 0 rgba(34, 33, 81, 0.25);
}

.custom-perspective {
    transform: rotateX(51deg) rotateZ(-43deg);
    transform-style: preserve-3d;
    pointer-events: none;
}

.custom-perspective>* {
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
    .custom-perspective {
        transform: none;
    }
}